.demo-table td {
    padding: 15px 0px;
}

.demo-table {
    background: rgba(245, 245, 245, 0.8);
    border-spacing: initial;
    word-break: break-word;
    table-layout: auto;
    color: #333;
    border-radius: 4px;
    padding: 20px 40px;
}

.demoInputBox {
    padding: 10px 30px;
    border: #a9a9a9 1px solid;
    border-radius: 4px;
}

body section {
    font-family: calibri;
}

body {
    /*background: url(/images/wallpaper.jpg) no-repeat center center fixed;*/
    background-size: auto auto;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
}